*{
    font-family: 'Roboto Condensed', sans-serif;
    padding: 0;
    margin: 0;
}
body{
    background: rgb(115, 57, 140);
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    text-align: center;
}

.container h1{
    color: white;
    font-size: 36px ;
}

.btn-add:hover {
    background-color: rgb(41, 44, 76);
    color: white; 
    cursor: pointer;
}

.add-menu{
    background:rgb(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; 
    display: none;
    justify-content: center;
    align-items: center;
    text-align:left;
}

.add-menu-content{
    width: 350px;
    height: 340px;
    background: white;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}

.add-menu-content input , textarea{
    margin: 5px;
    display: block;
    padding: 8px;
    width: 92%;
    border: 1px solid black;
}

.close{
    text-decoration: none;
    background: white;
    width: 15px;
    height: 15px;
    line-height: 1;
    text-align: center;
    color: black;
    cursor: pointer;
    position: absolute;
    transform: translate(-200% , -1100%);
    border: 1px solid black;
    border-radius:15px;
}

.add{
    width: 40px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    transform: translate(0% , 800%);
    border-radius:5px; 
    border-color: white;
    box-shadow: inset;
    color: white;
    background: rgb(115, 57, 140);
}

.add:hover{
    color: white;
    background: rgb(255, 0, 0);
}

.list th{
    width: 100%;
    padding: 5px;
    border: 1px solid black;
}

.list, .list td{
    border: 1px solid black;
}

.deletebtn{
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 2;
    padding-left: 15px;
    padding-right: 15px;
    font-size: biggered;
    background: red;
    border: 0px;
    color: white;
}

.deletebtn:hover{
    cursor: pointer;
    background: rgb(255, 92, 5);
}